<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.iu.home.List.ListMapper">
    	<select id="getList" parameterType="Pager" resultType="ListVO">
    		SELECT * FROM ListT ORDER BY NUM DESC
			limit #{startRow}, #{perPage}
    	</select>
    	
    	<insert id="setAdd" parameterType="ListVO" useGeneratedKeys="true" keyProperty="num">
    		INSERT INTO ListT VALUES (#{num}, #{title}, #{writer}, #{contents}, 0, now(), 0,0,0)
    	</insert>
    	<insert id="setFileAdd" parameterType="ListFileVO">
    		INSERT INTO ListFiles VALUES (NULL, #{num}, #{fileName}, #{oriName})
    	</insert>
    	
    	
    	<select id="getDetail" parameterType="ListVO" resultMap="getDetailResult">
		SELECT T.*, TF.*
		FROM ListT T
			 LEFT JOIN
			 ListFiles TF
			 ON T.NUM = TF.NUM
		WHERE T.NUM=#{num}			 
	</select>
	
	<resultMap type="ListVO" id="getDetailResult">
		<id column="num" property="num"/>
		<result column="title" property="title"/>
		<result column="writer" property="writer"/>
		<result column="contents" property="contents"/>
		<result column="regDate" property="regDate"/>
		<result column="hit" property="hit"/>
		<result column="ref" property="ref"/>
		<result column="step" property="step"/>
		<result column="depth" property="depth"/>
		<collection property="listFiles" javaType="List" ofType="ListFileVO">
			<id column="fileNum" property="fileNum"/>
			<result column="fileName" property="fileName" />
			<result column="oriName" property="oriName"/>
		</collection>
	</resultMap>
    </mapper>