<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.iu.home.List.ListMapper">
    	<select id="getList" parameterType="Pager" resultType="ListVO">
    		SELECT * FROM ListT ORDER BY NUM DESC
			limit #{startRow}, #{perPage}
    	</select>
    	
    	<insert id="setAdd" parameterType="ListVO" useGeneratedKeys="true" keyProperty="num">
    		INSERT INTO ListT VALUES (#{num}, #{title}, #{writer}, #{contents}, 0, now(), 0,0,0)
    	</insert>
    	<insert id="setFileAdd" parameterType="ListFileVO">
    		INSERT INTO ListFiles VALUES (NULL, #{num}, #{fileName}, #{oriName})
    	</insert>
    	
    </mapper>